@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

:root {
    /*colors*/
    --primary: orange;
    --secondary: #FF8008;
    --dark: #233523;
    --light: #FFF;
    --bg: #faf5ef;

    /*Size*/
    --content-width: 1202px;
}

body {
    font-family: 'Fredoka One', cursive;
    background-color: #fff;
    color: var(--dark);
    font-size: 18px;
}

a {
    color: var(--dark);
    text-decoration: none;
}

/*Layout*/
.content {
    display: flex;
    flex-direction: column;
    
    max-width: var(--content_width);
    width: 100%;
    margin: 150px auto 0 auto;
    padding: 0 16px;

}
.content2 {
    display: flex;
    
    max-width: var(--content_width);
    width: 100%;
    margin: 150px auto 0 150px;
    padding: 0 16px;

}
.content3 {
    display: flex;
    max-width: var(--content_width);
    width: 100%;
    margin: 150px auto 0 auto;
    padding: 0 16px;

}

.text-content {
    margin-left: 8%;
    width: 75%;

}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 46px 0;
}

.menu {
    font-size: 25px;
    display: flex;
    align-items: center;
    gap: 100px;
}

.menu a:not(:last-chlid) {
    margin-right: 46px;
}

.header__actions {
    display: flex;
    align-items: center;
}

/*First-Screen-Block 1*/
.fisrt-screen {
    position: relative;
    height: 100vh;
    display: flex;
}

.first-screen__bg-segment {
    position: absolute;
    top: 0;
    right: 0px;
    z-index: -100;
    width: 45%;
    height: 100%;
    background-color: var(--primary);
}

.first-screen__bg-segment img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -100;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.bg img {
    width: 100%;
    height: 100%;
}

.bg {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
}

.first-screen .content {
    display: flex;
    flex-direction: column;
}

.first-screen__content {
    max-width: 1200px;
    margin: auto 0;
    margin-top: 50px;
    width: 70%;
}

.first-screen__content>*:not(:last-child) {
    margin-bottom: 46px;

}

.first-screen_description {
    line-height: 1.7em;
}

.first-screen__title {
    font-size: 84px;


}

.first-screen__title span {
    color: var(--primary)
}
.products {
    padding: 120px 0;

}

.products__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin: 0 8%;

}

.products__cards .card {
    margin: 21px 14px;
}
/* How it works - Block 3 */
.how-work{
    z-index: -2;
    position: relative;
    padding: 56px 0;
    background-color:var(--bg) ;
}
.how-work .content{
    position: relative;
    display: flex;
    align-items: center;
}

.how-work .bg-circle{
    position: absolute;
    top: 40%;
    margin-top: calc(var(--size) / -2);
    margin-left: calc(var(--size) / -2);
    left: 0 ;
   
}
.how-work__img{
    margin-right: 140px;
}

.how-work__description{
    line-height: 1.7em;
    opacity: 0.75;
    margin: 26px 0 50px;
}
.how-work__list{
    list-style-type: none;
    padding: 0;
}
.how-work__list li{
    display:flex;
}
.how-work__list .button{
    margin-right: 30px;
}
.how-work__list strong{
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}
.how-work__list span{
    opacity: 67%;
}
.how-work__list li:not(:last-child){
    margin-bottom: 40px;
}
.how-work__list 
.button:nth-child(1){
    background-color: #7E4FF2;
}
.how-work__list li:nth-child(2) .button{
    background-color: #7BBB66;
}
.how-work__list li:nth-child(3) .button{
    background-color: #FF800B;
}
.how-work__list li:nth-child(4) .button{
    background-color: #FFD400;
}
/* About Us 4 */
.about{
    position: relative;
    padding: 100px 0;
}
.bg-circle{
    position: absolute;
    top: 50%;
    margin-top: calc(var(--size) / -2);
    right: 18px ;
    z-index: -1;
}
.content{
    position: relative;
    display: flex;
    align-items: center;
}
.about__description{
    line-height: 1.7em;
    opacity: 0.75;
    margin: 26px 0 50px;
}
.about__img{
    margin-left: 126px;   
}
.logo span {
    color: var(--secondary);
}

.logo {
    font-size: 36px;
}

/*Button*/
.button {
    cursor: pointer;
    display: inline-block;
    padding: 16px 22px;
    background-color: orange;
    color: white;
    font-size: 18px;
    line-height: 18px;
    border-radius: 50px;
}

.button-light {
    cursor: pointer;
    background-color: white;
    color: orange;
    gap: 10px;
}

.button_icon-square,
.button_icon-circle {
    cursor: pointer;
    background-color: white;
    --size: 50px;
    padding: 0;
    min-width: var(--size);
    height: var(--size);
    line-height: var(--size);
    border-radius: 15px;
    font-size: 20px;
    text-align: center;
    
    
}
.button_icon-circle {
    --size:62px;
    border-radius: var(--size);
}

.button_x1 {
    padding: 28px 40px:
}

/*title*/
.title {
    font-size: 79px;
    margin-left: -700px;
    font-weight: 600;
}
.title2{
    margin-left: 100px;
    font-weight:600;
    font-size: 79px;
}
.title3{
    margin-left: 100px;
    font-weight: 600;
    font-size: 79px;
}

/*card*/
.card {
    --size: 270px;
    width: var(--size);
}

.card__img {
    width: var(--size);
    height: calc(var(--size) * 0.66);
    outline: 1px soloid red;
    border-radius: 10px;
    overflow: hidden;
    background: center / 100% auto;

}

.card__head,
.card__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
}

.card__title {
    font-size: 20px;
    padding-right: 8px;
}

.card__footer {
    margin-top: 28px;
}

.card__gram {
    font-size: 12px;
}

.card .button {
    padding: 12px 36px;
    border-radius: 8px;
    color: var(--dark);
    font-weight: 300;
}
.button:hover{
    color: white;
    opacity: 0.9;
}

     /* BG Circle */
.bg-circle{
    --size: 680px;
    width: var(--size);
    height: var(--size);
    border-radius: var(--size);
    border: 74px solid var(--primary);
    opacity: 0.23;
    
}
.title4{
    margin-left: 100px;
    font-weight:600;
    font-size: 79px;

}
/* footer */
.footer{
    padding: 150px 0 42px;
    background-color: var(--bg);
}
.footer__content{
    display: flex;
    margin: -12px;
    font-size: 17px;
}
.footer__content >div {
    flex-grow: 1;
    margin: 12px;
}
.footer__content > div:first-child{
    flex-grow: 4;
}
.footer.logo{
    margin-bottom: 30px;
}
.footer__description
.footer a {
    opacity: 0.8;
    font-weight: 300;
}
.footer__description{
    line-height: 1.7em;
    margin-bottom: 22px;
}
.social-buutons{
    font-size: 24px;
}
.footer__line{
    margin: 100px 0 36px;
    border: 0;
    border-top: 1px solid #444;
}
.footer__copyright{
    text-align: center;
    color: #375465;
    font-weight: 300;
}
.footer__title{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 40px;
}
.footer__menu a:not(:last-child){
    display: inline-block;
     margin-bottom: 20px;
}